$primary-color: #47215e;
$accent-color: #181717;
$hover-color: plum;
$text-color: #fff;
$text-shadow:rgb(255, 255, 255) 0px 0 5px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700

);

$mobiles: 400px;
$mobile: 800px;
$tablet: 1000px;
$fold: 400px
